{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>AbumariamTourAgency</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">


    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Nunito:wght@600;700;800&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="{% static 'lib/animate/animate.min.css" rel="stylesheet' %}">
    <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css' %}" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/chat.css' %}" rel="stylesheet">
</head>

<body>
    <!-- Spinner Start -->
    <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <!-- Spinner End -->


    <!-- Topbar Start -->
    <div class="container-fluid bg-dark px-5 d-none d-lg-block">
        <div class="row gx-0">
            <div class="col-lg-8 text-center text-lg-start mb-2 mb-lg-0">
                <div class="d-inline-flex align-items-center" style="height: 45px;">
                    <small class="me-3 text-light"><i class="fa fa-map-marker-alt me-2"></i>Location, Zanzibar, Tanzania</small>
                    <small class="me-3 text-light"><i class="fa fa-phone-alt me-2"></i>+255 763 946 396</small>
                    <small class="text-light"><i class="fa fa-envelope-open me-2"></i>Abumariamsafariisland01@gmail.com</small>
                </div>
            </div>
            <div class="col-lg-4 text-center text-lg-end">
                <div class="d-inline-flex align-items-center" style="height: 45px;">
                    <a class="btn btn-sm btn-outline-light btn-sm-square rounded-circle me-2" href=""><i class="fab fa-twitter fw-normal"></i></a>
                    <a class="btn btn-sm btn-outline-light btn-sm-square rounded-circle me-2" href=""><i class="fab fa-facebook-f fw-normal"></i></a>
                    <a class="btn btn-sm btn-outline-light btn-sm-square rounded-circle me-2" href=""><i class="fab fa-linkedin-in fw-normal"></i></a>
                    <a class="btn btn-sm btn-outline-light btn-sm-square rounded-circle me-2" href=""><i class="fab fa-instagram fw-normal"></i></a>
                    <a class="btn btn-sm btn-outline-light btn-sm-square rounded-circle" href=""><i class="fab fa-youtube fw-normal"></i></a>
                </div>
            </div>
        </div>
    </div>
    <!-- Topbar End -->

    <!-- Navbar & Hero Start -->
    <div class="container-fluid position-relative p-0">

    <!-- navbar -->
    
        <nav class="navbar navbar-expand-lg navbar-light px-4 px-lg-5 py-3 py-lg-0">
            <div >
                <!-- <a href=""  >                
                    <img  src="{% static 'img/logo-2.png' %}" >
                </a> --> 
                <!-- <div class="logo">
                    <a href="/" title="Home" rel="home" class="site-branding__logo">
                      <img src="{% static 'img/logo.svg' %}" width="100" height="100" alt="SUA" />
                    </a>
                </div>                -->
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="fa fa-bars"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav ms-auto py-0">                    
                    <a href="{% url 'index' %}" class="nav-item nav-link active">Home</a>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">New Updates</a>
                        <div class="dropdown-menu m-0">
                            <a href="{% url 'videos' %}" class="dropdown-item">Posted Videos</a>
                            <a href="{% url 'images' %}" class="dropdown-item">Posted Photos</a>
                            <a href="{% url 'discovered_paradise' %}" class="dropdown-item">Discovered paradise</a>                        
                        </div>
                    </div>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Zanzibar Island</a>
                        <div class="dropdown-menu m-0">
                            <a href="{% url 'zanzibar' %}" class="dropdown-item">Understand Zanzibar</a>
                            <a href="{% url 'full_day' %}" class="dropdown-item">Full-day tour</a>
                            <a href="{% url 'half_day' %}" class="dropdown-item">Half-day tour</a>
                            <a href="{% url 'book_form' %}" class="dropdown-item">Book for tour guide</a>                        
                        </div>
                    </div> 
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Tanzania mainland</a>
                        <div class="dropdown-menu m-0">
                            <a href="{% url 'holiday_ideas' %}" class="dropdown-item">Holiday Ideas</a>                                            
                            <a href="{% url 'book_form' %}" class="dropdown-item">Book for tour guide</a>
                            <a href="{% url 'request' %}" class="dropdown-item">Create other request</a>
                        </div>
                    </div>                   
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Institution Tour and Trip</a>
                    <div class="dropdown-menu m-0">
                        <a href="{% url 'leisure_activities' %}" class="dropdown-item">Study tour and excursion</a>
                        <a href="{% url 'parliament' %}" class="dropdown-item">Parliament tour-URT</a>
                        <a href="{% url 'request' %}" class="dropdown-item">Create other request</a>                        
                    </div>
                </div>
                
                <!-- <a href="{% url 'holiday_ideas' %}" class="nav-item nav-link">Holiday Ideas</a>   -->
               
                    <!-- <a href="destination.html" class="nav-item nav-link">Images</a>                    
                    <a href="booking.html" class="nav-item nav-link">Videos</a> -->                
                    <a href="{% url 'contact' %}" class="nav-item nav-link">Donation</a>
                    
                </div>
                {% if user.is_authenticated %}
                <a href="{% url 'logout' %}" class="btn btn-primary rounded-pill py-2 px-4">Logout</a>
                {% else %}
                <a href="{% url 'login' %}" class="btn btn-primary rounded-pill py-2 px-4">Login</a>
                {% endif %}
            </div>
        </nav>

    <!-- Navbar -->

        <div class="container-fluid bg-primary py-5 mb-5 hero-header">
            <div class="container py-5">
                <div class="row justify-content-center py-5">
                    <div class="col-lg-10 pt-lg-5 mt-lg-5 text-center">
                        <h1 class="display-3 text-white mb-3 animated slideInDown">ABUMARIAM SAFARI ISLAND</h1>
                        <p class="fs-4 text-white mb-4 animated slideInDown">Come, relax and enjoy Tanzania.
                            </p>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Navbar & Hero End -->

    <!-- Min Contents -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5">
                
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                    <h4 class="section-title bg-white text-start text-primary pe-3">Welcome our honorable customer</h4>                                                                                
                </div>
            <div>
                <h1 class="mb-4">Understand Tanzania tourism potentials</h1>
                <p class="mb-4"><strong>Introduction</strong></p>
                <p class="mb-4">It is my great pleasure and gratitude to welcome you to my Website of ABUMARIAM SAFARI ISLAND here in Tanzania.
                     Trust that you will find this website superbly informative, educative and appealing to the high growing demand for knowledge
                      about Tanzania tourism destinations. </p>
                
                <p class="mb-4">So saying, the website focus on providing the accurate, relevant, up-to-date and quality information about Tanzania 
                    tourism destination (e.g. tour program, tourism packages, travel guides, arts and crafts and beyond). 
                    Therefore, through this website, we are also set to demonstrate to our esteemed customer’s conviction to realise new experiences
                     in tourism industry in Tanzania destinations. 
                </p>
                <p class="mb-4"><strong>Once again, ABUMARIAM SAFARI ISLAND welcomes you to this website.</strong></p>                                                    
                </div>

            
        </div>
    </div>
    <!-- Main Content End -->


    <!-- About Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5">
                
                <div class="col-lg-6 wow fadeInUp" class="image-slideshow">
                    <div class="image fade">
                    <img height="553px" width="548px" src="{% static 'img/27.jpg' %}" alt="Palm Trees">
                    </div>
                    <div class="image fade">
                        <img height="553px" width="548px" src="{% static 'img/arusha2.jpg' %}" alt="Palm Trees">
                    </div>
                    <div class="image fade">
                        <img height="553px" width="548px" src="{% static 'img/dodoma.jpg' %}" alt="Palm Trees">
                    </div>
                    <div class="image fade">
                        <img height="553px" width="548px" src="{% static 'img/parliament1.jpg' %}" alt="Palm Trees">
                    </div>
                    <div class="image fade">
                        <img height="553px" width="548px" src="{% static 'img/stone-town.jpg' %}" alt="Palm Trees">
                    </div>
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                    <h6 class="section-title bg-white text-start text-primary pe-3">About Us</h6>
                    <!-- <h1 class="mb-4">Welcome to <span class="text-primary">Zanzibar</span></h1> -->
                    <p class="mb-4"><p class="mb-4">Abu Mariam Safari Island is a program responsible for creating awareness
                        about Tanzania tourism destinations for both international and domestic tourists.
                   </p>
                   <p class="mb-4"><p class="mb-4">Important to note that Tanzania endowed with a lot of cultural and natural heritage attractions such as
                        national parks, game reserves, wilderness areas, quality beaches, archaeological and historical sites, 
                        museums, monuments, marine reserves, forest reserves, mountains and among others which act as among of the 
                        best attractions in the world and their explorations give experiences that tourists may never seen or 
                        explored before in their life experience
                  </p>
                  <p class="mb-4"><p class="mb-4">The Abu Mariam Safari Island, therefore, aims to present new information and updates on everyday unique 
                      tourist’s destinations and their diverse tourism attractions such as unique and endemic animal and plant species, best cultural and 
                      natural heritage attractions including historical and paleo-ontological sites, wildlife parks and reserves, mountain hiking, coastal and marine sites.
                   </p>                   
                   
            </div>
        </div>
    </div>
    <!-- About End -->


    <!-- Service Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h6 class="section-title bg-white text-center text-primary px-3">Services</h6>          
            </div>
            <div id="content1">
                <ul>
                    <li>Current updates, news, and different articles about tourism attractions and activities in Tanzania.</li>
                    <li>Prepare tour packages for tourists pursuing leisure, businesses or study in Tanzania.</li>
                    <li>Prepare and advise on holiday packages for both domestic and international visitors planning to visit Tanzania tourist destinations.</li>
                    <li>Organize Charity program and safaris for both international and local visitors.</li>
                    <li>Organize rural and urban tour program</li>
                    <li>Organize learning tour packages (visiting institutions (parliament, universities), project sites), etc.</li>                                        
                </ul>                                                    
                </div>                                                        
        </div>
    </div>
    <!-- Service End -->

    <!-- Contact Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h6 class="section-title bg-white text-center text-primary px-3">Contact Us</h6>
                <h1 class="mb-5">Contact For Any Query</h1>
            </div>
            <div class="row g-4">
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <h5>Get In Touch</h5>
                    <p class="mb-4">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos</p>
                    <div class="d-flex align-items-center mb-4">                        
                    </div>
                    <div class="d-flex align-items-center mb-4">
                        <div class="d-flex align-items-center justify-content-center flex-shrink-0 bg-primary" style="width: 50px; height: 50px;">
                            <i class="fa fa-phone-alt text-white"></i>
                        </div>
                        <div class="ms-3">
                            <h5 class="text-primary">Mobile</h5>
                            <p class="mb-0">+255 763 946 396</p>
                        </div>
                    </div>
                    <div class="d-flex align-items-center">
                        <div class="d-flex align-items-center justify-content-center flex-shrink-0 bg-primary" style="width: 50px; height: 50px;">
                            <i class="bi bi-whatsapp text-white"></i>
                        </div>
                        <div class="ms-3">
                            <h5 class="text-primary">WhatsApp</h5>
                            <p class="mb-0">+255 655 530 695</p>
                        </div>
                    </div>
                    <br>
                    <div class="d-flex align-items-center">
                        <div class="d-flex align-items-center justify-content-center flex-shrink-0 bg-primary" style="width: 50px; height: 50px;">
                            <i class="fa fa-envelope-open text-white"></i>
                        </div>
                        <div class="ms-3">
                            <h5 class="text-primary">Email</h5>
                            <p class="mb-0">Abumariamsafariisland01@mail.com</p>
                        </div>
                    </div>                    
                </div>
                
                <div class="col-lg-4 col-md-12 wow fadeInUp" data-wow-delay="0.5s">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="row g-3">
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                                    <label for="name">Your Name</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="email" name="email" class="form-control" id="email" placeholder="Your Email" required>
                                    <label for="email">Your Email</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating">
                                    <input type="text" name="subject" class="form-control" id="subject" placeholder="Subject" required>
                                    <label for="subject">Subject</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating">
                                    <textarea name="message" class="form-control" placeholder="Leave a message here" id="message" style="height: 100px" required></textarea>
                                    <label for="message">Message</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <button class="btn btn-primary w-100 py-3" type="submit">Send Message</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Contact End -->

    
    <!-- Team Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h6 class="section-title bg-white text-center text-primary px-3">Travel Guide</h6>
                <h1 class="mb-5">Meet Our Guide</h1>
            </div>
            <div class="row g-4">
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="team-item">
                        <div class="overflow-hidden">
                            <img class="img-fluid" src="{% static 'img/team-1.jpg' %}" alt="">
                        </div>
                        <div class="position-relative d-flex justify-content-center" style="margin-top: -19px;">
                            <a class="btn btn-square mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-square mx-1" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-square mx-1" href=""><i class="fab fa-instagram"></i></a>
                        </div>
                        <div class="text-center p-4">
                            <h5 class="mb-0">Majuto Mlowa</h5>
                            <small>English and Poland</small>
                            <br>
                            <small>Cultural Boma Tour</small>
                            <br>
                            <small>0655530695 Whatsapp</small>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="team-item">
                        <div class="overflow-hidden">
                            <img class="img-fluid" src="{% static 'img/team-2.jpg' %}" alt="">
                        </div>
                        <div class="position-relative d-flex justify-content-center" style="margin-top: -19px;">
                            <a class="btn btn-square mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-square mx-1" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-square mx-1" href=""><i class="fab fa-instagram"></i></a>
                        </div>
                        <div class="text-center p-4">
                            <h5 class="mb-0">Oliver Gully</h5>
                            <small>English and Poland</small>
                            <br>
                            <small>Zanzibar safari & Study</small>
                            <br>
                            <small>0754095314 WhatsApp</small>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="team-item">
                        <div class="overflow-hidden">
                            <img class="img-fluid" src="{% static 'img/team-3.jpg' %}" alt="">
                        </div>
                        <div class="position-relative d-flex justify-content-center" style="margin-top: -19px;">
                            <a class="btn btn-square mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-square mx-1" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-square mx-1" href=""><i class="fab fa-instagram"></i></a>
                        </div>
                        <div class="text-center p-4">
                            <h5 class="mb-0">Emmanuel Zabroni</h5>
                            <small>English and German</small>
                            <br>
                            <small>Zanzibar safari & Study</small>
                            <br>
                            <small>0787 863 339</small>
                        </div>
                    </div>
                </div>
                <!-- <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
                    <div class="team-item">
                        <div class="overflow-hidden">
                            <img class="img-fluid" src="{% static 'img/team-4.jpg' %}" alt="">
                        </div>
                        <div class="position-relative d-flex justify-content-center" style="margin-top: -19px;">
                            <a class="btn btn-square mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-square mx-1" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-square mx-1" href=""><i class="fab fa-instagram"></i></a>
                        </div>
                        <div class="text-center p-4">
                            <h5 class="mb-0">Full Name</h5>
                            <small>Designation</small>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
    <!-- Team End -->


    <!-- Testimonial Start -->
    <div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container">
            <div class="text-center">
                <h6 class="section-title bg-white text-center text-primary px-3">Testimonial</h6>
                <h1 class="mb-5">Our Clients Say!!!</h1>
            </div>
            <div class="owl-carousel testimonial-carousel position-relative">
                <div class="testimonial-item bg-white text-center border p-4">
                    <img class="bg-white rounded-circle shadow p-1 mx-auto mb-3" src="{% static 'img/testimonial-1.jpg' %}" style="width: 80px; height: 80px;">
                    <h5 class="mb-0">John Doe</h5>
                    <p>New York, USA</p>
                    <p class="mb-0">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit diam amet diam et eos. Clita erat ipsum et lorem et sit.</p>
                </div>
                <div class="testimonial-item bg-white text-center border p-4">
                    <img class="bg-white rounded-circle shadow p-1 mx-auto mb-3" src="{% static 'img/testimonial-2.jpg' %}" style="width: 80px; height: 80px;">
                    <h5 class="mb-0">John Doe</h5>
                    <p>New York, USA</p>
                    <p class="mt-2 mb-0">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit diam amet diam et eos. Clita erat ipsum et lorem et sit.</p>
                </div>
                <div class="testimonial-item bg-white text-center border p-4">
                    <img class="bg-white rounded-circle shadow p-1 mx-auto mb-3" src="{% static 'img/testimonial-3.jpg' %}" style="width: 80px; height: 80px;">
                    <h5 class="mb-0">John Doe</h5>
                    <p>New York, USA</p>
                    <p class="mt-2 mb-0">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit diam amet diam et eos. Clita erat ipsum et lorem et sit.</p>
                </div>
                <div class="testimonial-item bg-white text-center border p-4">
                    <img class="bg-white rounded-circle shadow p-1 mx-auto mb-3" src="{% static 'img/testimonial-4.jpg' %}" style="width: 80px; height: 80px;">
                    <h5 class="mb-0">John Doe</h5>
                    <p>New York, USA</p>
                    <p class="mt-2 mb-0">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit diam amet diam et eos. Clita erat ipsum et lorem et sit.</p>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
    <!-- Testimonial End -->
    <!-- CHAT -->
<div id='whatsapp-chat' class='hide'>
    <div class='header-chat'>
    <div class='head-home'><h3>Hello!</h3>
    <p>Click one of our representatives below to chat on WhatsApp</p></div>
    <div class='get-new hide'><div id='get-label'></div><div id='get-nama'></div></div></div>
    <div class='home-chat'>
    <!-- Info Contact Start -->
    <a class='informasi' href='javascript:void' title='Chat Whatsapp'>
    <div class='info-avatar'><img src='https://2.bp.blogspot.com/-y6xNA_8TpFo/XXWzkdYk0MI/AAAAAAAAA5s/RCzTBJ_FbMwVt5AEZKekwQqiDNqdNQJjgCLcBGAs/s70/supportmale.png'/></div>
    <div class='info-chat'>
    <span class='chat-label'>Support</span>
    <span class='chat-nama'>Customer Service</span>
    </div><span class='my-number'>+255 763 946 396</span>
    </a>
    <!-- Info Contact End -->
    
    <div class='blanter-msg'>Call us to <b>+255 763 946 396</b> from <i>0:00hs a 24:00hs</i></div></div>
    <div class='start-chat hide'>
    <div class='first-msg'><span>Hello! What can I do for you?</span></div>
    <div class='blanter-msg'><textarea id='chat-input' placeholder='Write a response' maxlength='120' row='1'></textarea>
    <a href='javascript:void;' id='send-it'>Send</a></div></div>
    <div id='get-number'></div><a class='close-chat' href='javascript:void'>×</a>
    </div>
    <a class='blantershow-chat' href='javascript:void' title='Show Chat'><i class='fab fa-whatsapp'></i>How can I help you?</a>
    
        <!-- CHAT -->
        

<!-- Footer Start -->
<div class="container-fluid bg-dark text-light footer pt-5 mt-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container py-5">
        <!-- <a href=""  >                
            <img  src="{% static 'img/logo-2.png' %}" width="" height="540px">
        </a>  -->
        <div class="row g-5">
            <div class="col-lg-3 col-md-6">
                <h4 class="text-white mb-3">Company</h4>
                <a class="btn btn-link" href="">About Us</a>
                <a class="btn btn-link" href="">Contact Us</a>
                <a class="btn btn-link" href="">Privacy Policy</a>
                <a class="btn btn-link" href="">Terms & Condition</a>
                <a class="btn btn-link" href="">FAQs & Help</a>
            </div>
            <div class="col-lg-3 col-md-6">
                <h4 class="text-white mb-3">Contact</h4>
                <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>Location, Zanzibar, Tanzania </p>
                <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+255 763 946 396</p>
                <p class="mb-2"><i class="fa fa-envelope me-3"></i>Abumariamsafariisland01@gmail.com</p>
                <div class="d-flex pt-2">                    
                    <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-youtube"></i></a>
                    <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <h4 class="text-white mb-3">Gallery</h4>
                <div class="row g-2 pt-2">
                    <div class="col-4">
                        <img class="img-fluid bg-light p-1" src="{% static 'img/package-1.jpg' %}" alt="">
                    </div>
                    <div class="col-4">
                        <img class="img-fluid bg-light p-1" src="{% static 'img/package-2.jpg' %}" alt="">
                    </div>
                    <div class="col-4">
                        <img class="img-fluid bg-light p-1" src="{% static 'img/package-3.jpg' %}" alt="">
                    </div>
                    <div class="col-4">
                        <img class="img-fluid bg-light p-1" src="{% static 'img/package-2.jpg' %}" alt="">
                    </div>
                    <div class="col-4">
                        <img class="img-fluid bg-light p-1" src="{% static 'img/package-3.jpg' %}" alt="">
                    </div>
                    <div class="col-4">
                        <img class="img-fluid bg-light p-1" src="{% static 'img/package-1.jpg' %}" alt="">
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <h4 class="text-white mb-3">Newsletter</h4>
                <p>Dolor amet sit justo amet elitr clita ipsum elitr est.</p>
                <div class="position-relative mx-auto" style="max-width: 400px;">
                    <input class="form-control border-primary w-100 py-3 ps-4 pe-5" type="text" placeholder="Your email">
                    <button type="button" class="btn btn-primary py-2 position-absolute top-0 end-0 mt-2 me-2">SignUp</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="copyright">
            <div class="row">
                <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                    &copy; <a class="border-bottom" href="https://freewebsitecode.com">Your Site Name</a>, All Right Reserved.
                    
                    Designed By <a class="border-bottom" href="https://freewebsitecode.com">LevelsPro</a>
                </div>
                <div class="col-md-6 text-center text-md-end">
                    <div class="footer-menu">
                        <a href="">Home</a>
                        <a href="">Cookies</a>
                        <a href="">Help</a>
                        <a href="">FQAs</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>


   <!-- JavaScript Libraries -->
   <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
   <script src="{% static 'lib/wow/wow.min.js' %}"></script>
   <script src="{% static 'lib/easing/easing.min.js' %}"></script>
   <script src="{% static 'lib/waypoints/waypoints.min.js' %}"></script>
   <script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>
   <script src="{% static 'lib/tempusdominus/js/moment.min.js' %}"></script>
   <script src="{% static 'lib/tempusdominus/js/moment-timezone.min.js' %}"></script>
   <script src="{% static 'lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js' %}"></script>

    <!-- Template Javascript -->
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/chat.js' %}"></script>
</body>

</html>